* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family:'poppins',sans-serif;
    list-style: none;

}
:root{
    --bg-color:rgba(0, 140, 255, 0.644);
    --second-bg-color:rgba(0, 0, 0, 0.925);
    --third-bg-color:rgb(140, 0, 255);
    --text-color:rgb(255, 51, 0);
    --main-color:rgb(0, 238, 255);

}
html{

    font-size: 60.5%;
    overflow-x:hidden ;
}
body{
    background-color: var(--second-bg-color);
    color:var(--text-color);
}
body.background{
    padding: 10px;
    margin: 10px;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: rgba(0, 0, 0, 0.452);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 150;
}
.logo{
    font-size: 50px;
    color: white;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.logo:hover{
    transform: scale(1.1);
}
.navbar a{
    font-size:5rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;


}
.navbar a:hover,
.navbar a:active{
    text-decoration: none;
    font-size: 2cmm;
    width: 100px;
    padding: 25px;
    color: white;
    font-weight: 500;
    margin-left: 40px;


}
#menu-icon{
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    display: none;
}
section{
    min-height: 80vh;
    padding: 8rem 7% 8rem;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:1rem;
}
.home-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 3rem;

}
span{
    color: var(--main-color);
}
.logo span{
    color: var(rgb(0, 0, 0));
}
.HOME-content h1{
    font-size: 10rem;
    font-weight: 500;
    margin-top: 1.5rem;
    line-height: 1;
    color: black;
    margin-top: 100px;
}
.HOME-img{
    border-radius: 50%;
}
.HOME-img img{
    position: relative;
    padding: 10px;
    margin: 15px;
    top: 3rem;
    width:22vw;
    border-radius: 25%;
    box-shadow: 0 0 15px var(--second-bg-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.HOME-img img:hover{
    box-shadow: 0 0 25px var(--second-bg-color),
                0 0 50px var(--second-bg-color);
}
.HOME-content p{
    font-size: 6.5rem;
    font-weight: 600;
    max-width: 1000px;
    color: black;
    padding: 10px;
}


.AboutUs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background: var(--second-bg-color);
    color: white;
}
.AboutUs h2 span{
    color: var(--main-color);
    text-shadow: 0 0 5px var(--main-color);
}
.AboutUs-img{
    border-radius: 15%;
}
.AboutUs-img img{
    position: relative;
    width: 32vw;
    border-radius: 25%;
    box-shadow: 0 0 25px var(--main-color);
    top: 1rem;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.AboutUs-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);

}
.heading{
    text-align: center;
    font-size: 8rem;
}

.AboutUs-content p{
        font-size: 6rem;
        margin: 2rem 0 3rem;
    


}   
.Services{
    background: var(--second-bg-color);
    color:#fff;
    height: 100px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.Project-box{
    margin-bottom: 2rem;
}
.Project-box:hover{
    background:white;
    color: var(--second-bg-color);
    transform: scale(1.03);
}
.Project-box .service-info{
    display: flex;
    flex-direction: column;
    text-align:center;
    max-height:25px;
    justify-content: center;
    align-items: baseline;
    padding: 5rem;
}
.Project-info h4{
    font-size: 8rem;
    font-weight: 500;
    background: var(--bg-color);
    color: #fff;
}
.Project h2{
    font-size: 6rem;
    font-weight: 300px;
    margin-bottom: 5rem;
    color: #fff;
}
.Project-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
    gap: 2.5rem;
}
.Project-box{
    margin-bottom: 2rem;
}
.Project-info p{
    font-size: 6.5rem;
    font-weight: 400;
    max-height: 100px;
    margin: auto;
}
.Services{
    background: var(--bg-color);
    color:#fff;
    height: 25px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.Service-box{
    margin-bottom: 2rem;
}
.Service-box:hover{
    background:black;
    transform: scale(1.03);
}
.Service-box .service-info{
    display: flex;
    flex-direction: column;
    text-align:center;
    max-height: 15px;
    justify-content: center;
    align-items: baseline;
    padding: 5rem;
}
.Service-info h4{
    font-size: 6rem;
    font-weight: 300;
    background: var(--bg-color);
    color: #fff;
}
.Services h2{
    font-size: 5rem;
    font-weight: 400px;
    margin-bottom: 5rem;
    color: #fff;
}
.Services-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
    gap: 2.5rem;
}
.Service-box{
    margin-bottom: 2rem;
}
.Service-info p{
    font-size: 4rem;
    font-weight: 400;
    max-height: 150p;
    margin: auto;
}
.ContactUs{
    background-color: #fff;
    background:fixed;
}
.ContactUs h2{
    margin-bottom: 5rem;
    color: white;
}
.ContactUs form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 5rem;
}
.ContactUs form .input-box{
    display: flex;
    justify-content: center;
    
}
.ContactUs form .input-box input,
.ContactUs form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 2.5rem;
    color: var(--second-bg-color);
    background: var(--second-bg-color);
    border-radius: 0.8rem;
    border: 2px solid var(--main-color);
    margin: 1rem 0;
    resize: none;
}
.ContactUs form .btn{
    margin-top: 3rem;
    width: 25%;
    text-align: center;
    text-size-adjust: 10px;
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--bg-color--)
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}
.social.icon{
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}
.footer .social a{
    font-size: 4.5rem;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}
.footer .social .icon a:hover{
    transform: scale(1.2)translateY(-10px);
    background-color: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 50px var(--main-color);
}
.footer ul{
    margin-top:0 ;
    padding: 0;
    font-size:5rem;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center
}
.footer ul li a{
    color: #fff;
    border-radius: 3px solid transparent;
    transition: 0.3s ease-in-out;
}
.footer ul li a:hover{
    color: var(--third-bg-color);
    border-radius: 3px solid var(--third-bg-color);
}.footer ul li{
    display: inline-block;
    padding: 0;

}
.footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 5rem;
    color: #fff;
}
@media(max-width:1285px){
    html{
        font-size: 55%;

    }
    .Project-container{
        padding-bottom: 7rem;
        grid-template-columns: repeat(1,1fr);
        margin: 0 5rem;
    }
    .Services-container{
        padding-bottom: 7rem;
        grid-template-columns: repeat(5,1rf);
        margin: 0 5rem;
    }
}
@media(max-width:991px){
    header{
        padding: 2rem 3%;

    }
    section{
        padding: 10rem 3% 2rem;
    }
    .footer{
        padding: 5rem 3%;
    }
}
@media(max-width:895px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position:absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background: rgba(0,0,0,0.9);
        backdrop-filter:blur(20px);
        border-top-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
    }

.navbar.active{
    display: block;
}
.navbar a{
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    color: white;
}
.HOME{
    flex-direction: column;
    margin: 5rem 4rem;
}
.HOME-content h3{
    font-size:2.6rem;

}
.HOME-content h1{
    font-size: 0rem;
}
.HOME-content  p{
    max-width: 600px;
    margin: 0 auto;

}
.HOME-img img{
    width: 56vw;
    margin-top: -2rem;
}
.AboutUs{
    flex-direction: column-reverse;
}
.AboutUs -content{
    margin: 0 2rem 4rem;
}
.AboutUs img{
    width: 52vw;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.section{
    margin-bottom: 3rem;


}
.projectsli{
    grid-template-columns: repeat(1,1fr);
}
.services li{
    grid-template-columns:repeat(5,1fr) ;
}
}


